table {
	/*граница(обводка)*/
	border: 2px black solid;
	/*Убираем отступы между ячейками таблицы*/
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	background: lightyellow;
	/*Выравнивание текста по центру*/
	text-align: center;
}
th {
	border: 1px solid black;
	/*Цвет фона*/
	background: moccasin;
	/*Цвет текста*/
	color: dodgerblue;
}

header {
	/*Ширина*/
	width: 80%;
	background: dodgerblue;
	/*Высота*/
	height: 70px;
	/*Внешние отступы - выводит эл-т на середину*/
	margin: auto;
	/*Текст по центру*/
	text-align: center;
	/*Способ отображения элементов внутри этого тега*/
	display: flex;
	/*Распределения элементов внутри*/
	justify-content: space-around;
	/*Выравнивание элементов по вертикали*/
	align-items: middle;
}

body {
	background: powderblue;
	margin: 0;
}

#left {
	/*Поворот стрелки*/
	transform: rotate(180deg);
	width: 64px;
}

#right {
	width: 64px;
}

main {
	width: 80%;
	margin: auto;
}